<ul id="sidebarnav">
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Overview</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver" aria-expanded="false">
            <span>
                <i class="ti ti-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/profile" aria-expanded="false">
            <span>
                <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">My Profile</span>
        </a>
    </li>

    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Trip Management</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/trips" aria-expanded="false">
            <span>
                <i class="ti ti-map-pin"></i>
            </span>
            <span class="hide-menu">Active Trips</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/schedule" aria-expanded="false">
            <span>
                <i class="ti ti-calendar"></i>
            </span>
            <span class="hide-menu">My Schedule</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/routes" aria-expanded="false">
            <span>
                <i class="ti ti-route"></i>
            </span>
            <span class="hide-menu">Assigned Routes</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/history" aria-expanded="false">
            <span>
                <i class="ti ti-history"></i>
            </span>
            <span class="hide-menu">Trip History</span>
        </a>
    </li>

    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Vehicle</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/vehicle" aria-expanded="false">
            <span>
                <i class="ti ti-car"></i>
            </span>
            <span class="hide-menu">My Vehicle</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/maintenance" aria-expanded="false">
            <span>
                <i class="ti ti-tools"></i>
            </span>
            <span class="hide-menu">Maintenance</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/fuel" aria-expanded="false">
            <span>
                <i class="ti ti-gas-station"></i>
            </span>
            <span class="hide-menu">Fuel Tracking</span>
        </a>
    </li>

    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Earnings</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/earnings" aria-expanded="false">
            <span>
                <i class="ti ti-cash"></i>
            </span>
            <span class="hide-menu">My Earnings</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/payments" aria-expanded="false">
            <span>
                <i class="ti ti-credit-card"></i>
            </span>
            <span class="hide-menu">Payment History</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/bonuses" aria-expanded="false">
            <span>
                <i class="ti ti-trophy"></i>
            </span>
            <span class="hide-menu">Bonuses & Incentives</span>
        </a>
    </li>

    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Support</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/help" aria-expanded="false">
            <span>
                <i class="ti ti-help"></i>
            </span>
            <span class="hide-menu">Help & Support</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/driver/settings" aria-expanded="false">
            <span>
                <i class="ti ti-settings"></i>
            </span>
            <span class="hide-menu">Settings</span>
        </a>
    </li>
</ul>