<ul id="sidebarnav">
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Welcome</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/guest" aria-expanded="false">
            <span>
                <i class="ti ti-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/guest/event" aria-expanded="false">
            <span>
                <i class="ti ti-calendar-event"></i>
            </span>
            <span class="hide-menu">Event Information</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/guest/transport" aria-expanded="false">
            <span>
                <i class="ti ti-bus"></i>
            </span>
            <span class="hide-menu">Transport Details</span>
        </a>
    </li>

    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Support</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/guest/help" aria-expanded="false">
            <span>
                <i class="ti ti-help"></i>
            </span>
            <span class="hide-menu">Help</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/guest/contact" aria-expanded="false">
            <span>
                <i class="ti ti-phone"></i>
            </span>
            <span class="hide-menu">Contact Us</span>
        </a>
    </li>
</ul>