<ul id="sidebarnav">
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">System Management</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin" aria-expanded="false">
            <span>
                <i class="ti ti-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/users" aria-expanded="false">
            <span>
                <i class="ti ti-users"></i>
            </span>
            <span class="hide-menu">User Management</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/clients" aria-expanded="false">
            <span>
                <i class="ti ti-building"></i>
            </span>
            <span class="hide-menu">Client Management</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/permissions" aria-expanded="false">
            <span>
                <i class="ti ti-shield-lock"></i>
            </span>
            <span class="hide-menu">Permissions & Roles</span>
        </a>
    </li>

    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Analytics & Reports</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/analytics" aria-expanded="false">
            <span>
                <i class="ti ti-chart-bar"></i>
            </span>
            <span class="hide-menu">System Analytics</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/reports" aria-expanded="false">
            <span>
                <i class="ti ti-file-analytics"></i>
            </span>
            <span class="hide-menu">Reports</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/audit" aria-expanded="false">
            <span>
                <i class="ti ti-file-search"></i>
            </span>
            <span class="hide-menu">Audit Logs</span>
        </a>
    </li>

    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">System Configuration</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/settings" aria-expanded="false">
            <span>
                <i class="ti ti-settings"></i>
            </span>
            <span class="hide-menu">System Settings</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/integrations" aria-expanded="false">
            <span>
                <i class="ti ti-plug"></i>
            </span>
            <span class="hide-menu">Integrations</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/security" aria-expanded="false">
            <span>
                <i class="ti ti-lock"></i>
            </span>
            <span class="hide-menu">Security Settings</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/superadmin/compliance" aria-expanded="false">
            <span>
                <i class="ti ti-certificate"></i>
            </span>
            <span class="hide-menu">PCI DSS Compliance</span>
        </a>
    </li>
</ul>