<%
/**
 * Change Password View
 * Secure page for users to change their password
 * Created by Denisse Maldonado
 */
%>

<!-- CSRF Meta Tag -->
<meta name="csrf-token" content="<%= csrfToken %>">

<!-- Page Header -->
<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/dashboard/superadmin" class="link">
              <i class="ti ti-home fs-6"></i>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="/dashboard/superadmin/profile" class="link">Profile</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Change Password</h1>
    </div>
  </div>
</div>

<!-- Change Password Content -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <%- include('../../molecules/dashboard/change-password-form') %>
    </div>
  </div>
</div>